* {
  user-select: none;
  text-size-adjust: 100%;
}

.app {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main {
  padding: 0.5rem;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.input {
  width: 100%;
  display: flex;
  gap: 0.25rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
